@font-face {
    font-family: "proxima_novathin";
    src: url("/fonts/proxima_thin/proxima_nova_thin-webfont.woff2")
        format("woff2"),
      url("/fonts/proxima_thin/proxima_nova_thin-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }
  body {
    text-align: center;
    font-family: "proxima_novathin";
    font-weight: 300;

    color: #eeeeee;

  }

  h1 {
    font-family: "Proxima_novathin", arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #868585;
  }
  h2 {
    font-size: 18px;
  }
  h3{
    font-size:16px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
  p {
    font-size: 16px;
    font-weight: 800;
  }
  button{
    padding: 5px;
    margin-bottom: 10px;

  }
  select{
      padding: 4px;
  }
  span {
    font-size: 14px;
    font-weight: bold;
  }
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .currency { 
    margin-top: 10px;
  }
  .input {
    
    background-color: #009fa6;
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 5px;
    color: white;
    box-shadow: 1px, 1px, 2px, 0px;
    
  }
  .input:hover {
    background-color: whitesmoke;
    color: #00c1ca;
    border-style: solid;
    border-width: 1px;
    border-color: #009fad;
    box-shadow: 1px, 1px, 2px, 0px;


  }
  .form {
    background-color: #00c1ca;
    color: white;
    padding: 15px;
    border-radius: 5px;
  }
  .popup {
    height: 300px;
    width: 250px;
  }
  .slider.round {
    border-radius: 34px;
  }